@using TodoApp.Models;
@page "/"

<h1>Hello, world!</h1>

@if(pq.Peek() == null)
{
    <h2>You have nothing to do today.</h2>        
}
else
{
    <h2>
        Next you should @pq.Peek().Text
    </h2>
}

<input type="text" name="todoText" @bind="todoText" />
<select @bind="priority">
    @foreach (var p in Enum.GetValues(typeof(Priority)))
    {
        <option>@p</option>
    }
</select>
<button class="btn btn-primary" @onclick="addTodo">Add Todo</button>
<button class="btn btn-warning" @onclick="pq.Dequeue">Dequeue</button>
<p>
    @pq.Count
</p>
<ul>
    @foreach(Todo todo in pq)
    {
        <li>
            @todo.Text
        </li>
    }
</ul>

@code {

    private static PriorityQueue pq = new PriorityQueue();

    private string todoText;
    private Priority priority = Priority.Normal;

    private void addTodo()
    {
        pq.Enqueue(new Todo($"{todoText} (priority: {priority.ToString()})", priority));
        priority = Priority.Normal;
        todoText = "";
    }
}